/*******************************/
/********* General CSS *********/
/*******************************/
:root {
    --body-color:#f5f5f5;
    --title-green: #9CCC65;
    --orange-custom: rgba(251,178,60,1);
    --blue-cutom: #29B6F6;
    --dark-color: #141414;
    --black-color :#000000;
    --light-color: #f4f4f4;
    --primary-custom: rgb(1, 156, 167);
    --danger-custom: rgb(224, 92, 92);
    --success-custom: rgb(59, 201, 167);
    --warning-custom: rgb(241, 192, 97);
    --text-color: rgba(25,25,25,1);
    --text-color-yellow: #ffffe7;
}
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--dark-color);
}
a{
    text-decoration: none!important;
}
.width-25{
    width: 25px;
}
.width-35{
    width: 35px;
}
.width-45{
    width: 45px;
}
.width-65{
    width: 65px;
}
.width-75{
    width: 75px;
}
.width-85{
    width: 85px;
}
.width-95{
    width: 95px;
}
.width-105{
    width: 105px;
}
@media (max-width: 992px) {
    .brand{
        font-size: 30px;
    }
}
.custom-tooltip {
  --bs-tooltip-bg: var(--black-color);
  --bs-tooltip-color: var(--body-color);
}
@font-face {
  font-family: shabnam;
  src: url(/static/font/Shabnam.ttf);
}
*{
    padding: 0;
    margin: 0;
    font-family: "shabnam", serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    outline: none !important;
    -webkit-appearance: none;
}
body {
    /*background-color: var(--body-color);*/
    overflow-x: hidden;
    background-size: auto;
    background: var(--body-color) url("/static/img/protruding-squares-2.svg") repeat scroll center;
}
.text-white{
    /*color: var(--text-color-yellow)!important;*/
}
.rtl{
    direction: rtl;
}
i.fa-2x{
    font-size: 1.5rem;
}
a {
    color: var(--black-color);
    transition: .3s;
}
a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
    color: initial!important;
}
.btn:focus,
.form-control:focus {
    box-shadow: none;
}
.container-fluid {
    max-width: 1366px;
}
@media (max-width: 992px) {
    .sm-hide{
        display: none!important;
    }
}
.sm-hide{
    display: initial;
}
.back-to-top {
    position: fixed;
    display: none;
    background-color:var(--black-color);
    padding:10px 13px;
    /*border-radius: 5px;*/
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 23px;
    bottom: 3vh;
    transition:background 0.5s;
    z-index: 9;
    cursor: pointer;
    border-radius: 50%;
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0,0,0, 0.4);
    animation: pulse-black 1.5s infinite;
    }
.back-to-top:hover {
    background-color:var(--body-color);
}
.back-to-top i {
    color: var(--body-color);
    padding-top: 6px;
    font-size: 1.3rem!important;
}
.back-to-top:hover > i {
    color: var(--black-color);
}

@keyframes pulse-black {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@keyframes pulse-black-static {
	0% {
		/*transform: scale(0.95);*/
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		/*transform: scale(1);*/
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		/*transform: scale(0.95);*/
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.modal-dialog{
    pointer-events: all;
 }
.btn-orange{
    background-color: var(--orange-custom);
    color: var(--black-color);
    font-weight: bold;
    width: 140px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 300ms;
    margin-top: 20px;
}
.btn-orange:hover{
    background-color: var(--black-color) ;
    color: var(--orange-custom);
}
.btn-black-c{
    background-color:var(--black-color) ;
    color: var(--body-color);
    font-weight: bold;
    min-width: 240px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 300ms;
    margin-top: 20px;
    width: 340px;
    max-width: 340px;
}
.btn-black-c:hover{
    background-color: var(--body-color) ;
    color: var(--black-color);
    outline: var(--black-color) 2px solid;
    border: var(--black-color) 2px solid;
}
/********** messages CSS ***********/
/*.alert-c{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    font-size: 1.2rem;*/
/*    z-index: 100;*/
/*    color: #1b8826!important;*/
/*    opacity: 1;*/
/*    background-color: var(--alert-success);*/
/*    !*border-radius: 7px;*!*/
/*    padding: 20px 20px;*/
/*    margin: 20px auto;*/
/*    top: 10vh;*/
/*    transition-duration: 400ms;*/
/*}*/
/*.alert-message{*/
/*    color: #1b8826!important;*/
/*}*/
/*********** Nav Bar CSS **********/
.container-c{
    width: 100%;
    max-width: 1566px;
    margin: auto;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    color: #282828;
}
.navbar {
    position: absolute;
    width: 100%;
    padding: 0;
    background-color: var(--body-color)!important;
    z-index: 999;
    transition-duration: 300ms!important;
    box-shadow: 0px 2px 0px rgba(0,0,0,0.04);
}
.dropdown_menu-down-out{
    animation: downOut 300ms ease-in-out forwards;
    transform-origin: center center;
}
@keyframes downOut {
     0% {
        transform: transLateY(10px)
    }
    80% {
        transform: transLateY(0px)
    }
    100% {
        transform: transLateY(0px)
    }
}
.navbar.nav-sticky {
    padding: 5px 0;
    background: var(--body-color) !important;
    box-shadow: 1px 0 6px 0px rgba(0,0,0,0.8);
}
.navbar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar.nav-sticky .nav-link {
    color: var(--black-color)!important;
    background-color: var(--body-color);

}
.navbar .navbar-brand img {
    max-width: 100%;
    min-width: 150px;
    max-height: 90px;
    /*filter: drop-shadow(0px 10px 15px rgba(251,178,60,0.3));*/
}
.navbar-dark .navbar-nav .nav-link
{
    padding: 10px 20px 8px 20px;
    color: var(--black-color) !important;
    transition-duration: 300ms;
    background-color: var(--body-color);
    border:none!important;
    box-shadow: none!important;
    outline: none!important;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    background: rgba(0,0,0,0.8);
    transition: none;
    color: var(--body-color)!important;
    transition-duration: 300ms;
    /*border-radius: 7px;*/
    opacity: 0.89;
}
.navbar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0!important;
    box-shadow: 0px 0 10px 5px rgba(0,0,0,0.11);
    background: var(--body-color);
    min-width: 13rem!important;
}
.dropdown-menu li a{
    text-align: start;
}
#pkgs .dropdown-divider:last-child{
    display: none;
}
.dropdown-hover{
    color: var(--black-color);
}
.dropdown-hover:hover{
    background-color: var(--black-color);
    color: var(--body-color) !important;
    transition-duration: 300ms;
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav-sticky{
    background-color: var(--body-color);!important;
}
.nav-link {
    padding: 8px 15px;
    font-size: 1rem!important;
    border-radius: 2px;
}
.nav-link:focus {
    color: var(--text-color-yellow)!important;
}
.lang-selector{
    display: none;
    font-size: 14px;
}
@media (max-width: 992px) {
    .navbar {
    position: fixed;
    transition: .5s;
    z-index: 999!important;
    width: 100vw;
    padding: 15px;
    background: var(--body-color)!important;
}

    .container-c{
        width: 85%;
}
    .navbar .dropdown-menu {
        box-shadow: none;
    }
    .nav-link .dropdown-toggle{
        color: var(--black-color) !important;
    }
    .navbar .navbar-brand{
        font-size: 30px;
        color: var(--black-color) !important;
    }
    .navbar-brand::after{
    }

    .navbar-toggler{
        margin-top: 10px;
        margin-left: auto;
        position: relative;
        left: 12px;
        background-color: var(--black-color)!important;
        color: var(--body-color)!important;
    }
    .dropdown_menu-down-out{
        animation: downOut 300ms ease-in-out forwards;
        transform-origin: center center;
    }
    @keyframes downOut {
         0% {
            transform: transLateX(10px)
        }
        80% {
            transform: translateX(0px)
        }
        100% {
            transform: transLateX(0px)
        }
    }
    .dropdown-toggle::after{
        transform: rotate(90deg);
    }
}
@media (max-width: 768px) {
    .container-c {
        width: 98%;
    }
    .navbar{
        padding: 0;
    }
    .navbar-toggler {
        left: -10px!important;
        top: 0!important;
    }
    .navbar-toggler:hover {
        transition-duration: 300ms;
        opacity: 0.8;
    }
    .nav-link{
        font-size: 1rem!important;
    }
}
/******* hero CSS *******/
.hero{
    background-size: cover ;
    background-image: url("/static/img/bg-2-bw.webp") ;
}
.side-social{
    position: fixed;
    top: 40%;
    right: 0px;
    z-index: 1000;
}
.side-social a i{
    background: none;
    width: 30px;
    height: 30px;
    line-height: 60px;
    text-align: center;
    color: var(--black-color);
    font-size: 25px;
    border-radius: 100%;
    margin-right: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    transition-duration: 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
    filter:drop-shadow( 0 0 7px rgba(255,255,255,1)) !important;
    animation: pulse-black 2s infinite;

}
.side-social > a:hover{
    transform: translateX(-15px);
}
.hero-text{
    font-size: 3rem;
    max-width: 800px;
    margin-bottom: 20px;
    transition-duration: 400ms;
    text-align:justify ;
}
.hero-img{
    border-radius: 1px;
box-shadow: 14px 10px 5px 0px rgba(0,0,0,0.23);
-webkit-box-shadow: 14px 10px 5px 0px rgba(0,0,0,0.23);
-moz-box-shadow: 14px 10px 5px 0px rgba(0,0,0,0.23);
}
.hero-img-2{
   border-radius: 1px;
box-shadow: -14px 10px 5px 0px rgba(0,0,0,0.23);
-webkit-box-shadow: -14px 10px 5px 0px rgba(0,0,0,0.23);
-moz-box-shadow: -14px 10px 5px 0px rgba(0,0,0,0.23);
}
.hero P{
    font-size: 1.5rem;
}
@media (max-width: 1400px) {
    .container-fluid{
        padding-left: 15px;
        max-width: 75%;
        overflow-x: hidden;
    }
}
@media (max-width: 992px) {
    .side-social{
        position: fixed;
        top: initial;
        bottom: 7vh !important;
        right: 0px;
        z-index: 100;
    }

    .side-social i{
        width: 48px;
        height: 48px;
        line-height: 48px;
        font-size: 16px;
    }
    .hero-text{
        /*font-size: 2rem;*/
        font-size: 1.4rem;
        max-width: 80vw;
        margin-bottom: 20px;
    }
}
/******* mid sec CSS *******/
.mid-sec{
    left: -50px;
}
.card-c{
    min-height: 310px;
    max-height: 330px;
    max-width: 310px;
    min-width: 290px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}
.card-c h4{
    font-weight: bold;
}
.card-c p{
    text-align: end;
}
.card-c.bg-black{
    position: relative;
    top: -15px!important;
    animation: pulse-black-static 2s infinite;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}
.card-c.bg-black img{
    max-height: 110px;
}
.card-c.bg-black h4,.card-c.bg-black p{
    color: var(--body-color);
}
@media (max-width: 1024px) {
    .mid-sec{
        left: 0;
    }
    .card-c.bg-black{
    position: relative;
    top: 0!important;
    margin: 10px;
}
}
/********** news-article CSS ***********/
.page-section-header{
    background-color: var(--black-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 13vh;
    min-height: 35vh;
    background-size: cover ;
    background-image: url("/static/img/bg-2-bw.webp") ;
    background-position: center;
    background-repeat: repeat;
    background-attachment: scroll;
}
.news-holder{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 25px;
    min-height: 500px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    /*box-shadow: rgba(0, 0, 0, 0.3) 0px 60px 40px -7px;*/
}
.news-holder .card {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 60px 40px -7px;
    max-width: 325px;
    min-height: 250px
}
.news-card{
    padding: 15px 5px;
    /*border-bottom: 5px solid var(--body-color);*/

}
.news-card img{
    width: 100vw !important;
}
.article{
    text-align: justify!important;
}
.article p{
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin: 20px 0!important;
}
.article img{
    width: 100% !important;
    margin: 20px 0!important;
    display: block!important;
}
@media (max-width: 1296px) {
    .news-holder {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        justify-items: center;
    }
}
@media (max-width: 768px) {
    .page-section-header{
        justify-content: end;
        padding-top: 16vh;
    }
    .page-section-header div{
        padding-bottom: 2rem;
    }
    .card-header{
        padding: 0.5rem;
    }
}
.page-link{
    background-color: var(--body-color) !important;
    color: var(--black-color)!important;
    border-color: var(--black-color)!important;
}
.page-item.active .page-link {
    z-index: 3;
    background-color: var(--black-color) !important;
    color: var(--body-color)!important;
    /*border-color: #FFFFFF!important;*/
}
/********* gallery css *********/
.gallery-img{
    transition-duration: 600ms;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 60px 40px -7px;
    border-radius: 15px;
}

.gslide-title, .gslide-desc{
    text-align: end!important;
    font-family: shabnam, serif !important;
}
.gslide-title{
    font-size: 1.5rem!important;
}
.gslide-desc{
    font-size: 1.2rem!important;
}
.gdesc-inner{
    width: 100%;
}
.img-title{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    left: -120px;
    color: var(--body-color);
    text-align: center;
    font-size: 1.2rem;
    background-color: rgba(0,0,0,0.7);
    border-radius:  0 0 15px 15px;
    z-index: 10;
    direction: rtl;
    opacity: 0;
    transition-duration: 600ms;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.outer-box:hover > .img-title{
    box-shadow: none!important;
    opacity: 1!important;
    left: 0!important;
}
.img-title:hover{
    box-shadow: none;
    opacity: 1;
    left: 0;
}
.outer-box:hover > .gallery-box > .glightbox6 > .gallery-img{
    transform: translateX(-5px) scale(1.02) !important;
}
/******* team section and cards ********/
.contact-modal{
    background-color:var(--black-color);
    opacity: 1;
    padding: 15px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition-duration: 300ms;
    max-width: 325px;
    min-height: 452px;
    margin: 15px 8px;
}
.team-card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    align-items: center;
    top: -30px;
}
.team-card p{
    color: var(--body-color)!important;
}
.img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 8px;
    -webkit-border-radius: 50%;
    object-fit: cover;
}
/******* projects ********/
.tab-project-header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.tab-header{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 60px 40px -7px;
    padding: 5px 15px;
    cursor: pointer;
    background-color: var(--black-color);
    color: var(--body-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    border-radius: 15px;
    font-size: 2rem;
    transition-duration: 600ms;
}
.tab-header:hover{
    translate: 2px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 60px 40px -7px;
}
.tab-header.active{
    background-color: var(--body-color);
    color: var(--black-color);
    border-bottom: 3px solid black;
    position: relative;
}
.tab-chevron{
    display: none!important;
}
.tab-chevron.active{
    display: initial!important;
    position: absolute;
    bottom: -20px;
    font-size: 1rem;
}
.content-tab{
    display: none!important;
    direction: rtl;
}
.content-tab.active{
    display: initial!important;
}

/******* about-us ********/
.article-img{
    max-height: 100%;
    width: 40%;
}
.text-justify{
    text-align: justify!important;
}
.article-header{
    max-width: max-content;
    background-color: var(--black-color);
    color: var(--body-color);
    padding: 10px 10px;
    border-radius: 5px;
    box-shadow: 2px 5px 17px 5px rgba(0,0,0,0.3);
    margin-bottom: 15px!important;
}
.article-p{
    line-height: 2.3;
    font-size: 1.3rem;
    margin: 0!important;
}
.article-p > *{
    line-height: 2.3;
    font-size: 1.3rem;
    padding: 5px;
}
@media (max-width: 765px){
    .article-img{
        width: 100%;
        margin-bottom: 20px;
    }
    .article-p {
    padding: 5px 15px;
}
}
/******* footer ********/


footer{
    margin-top: 50px;
    background-color: rgba(242,243,247,1);
    background-image: url("/static/img/footer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.footer-holder {
    display: flex;
    direction: rtl;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding: 45px 0;
}
.footer{
    padding-top: 30px;
    border-top: 1px solid var(--black-color);
}
.about-span{
   font-size: 20px;
}
.footer-text-it{
    text-align: justify!important;
    position: relative;
    left: -60px;
}
.footer-links-it{
    position: relative;
    left: -180px;
}
.footer-text{
    text-align: justify!important;
    position: relative;
    left: -50px;
}
.footer-links{
    position: relative;
    left: -160px;
}
.footer-header{
    height: 40px;
}
.footer-item{
    max-width: 400px;
}
.footer-item .img-fluid{
    max-width: 320px;
    max-height: 320px;
   filter: drop-shadow(0px 2px 30px var(--body-color));
}
.footer-item div a span:hover{
    transition-duration: 200ms;
    opacity: 0.95;
}
.footer-design{
    display: flex;
    justify-content: start;
    align-items: center;
}
.footer-social .social a {
    border-left: 1px solid rgba(255, 255, 255, .15);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 7px;
    font-size: 1.4rem!important;
}
.footer-social .social a:hover {
    transition-duration: 300ms;
    opacity: 0.8!important;
}
.footer-social .social .twitter {
    color: var(--body-color);
    background: var(--black-color);
    margin-left: 15px;
}
.footer-social .social .facebook {
    color: var(--body-color);
    background: var(--black-color);
    margin-left: 15px;
}
.footer-social .social .whatsapp {
    color: var(--body-color);
    background: var(--black-color);
    margin-left: 15px;
}
.footer-social .social .instagram {
    color: var(--body-color);
    background: var(--black-color);
    margin-left: 15px;
}
.footer-social .social .telegram {
    color: var(--body-color);
    background: var(--black-color);
    margin-left: 15px;
}
.footer-social .social .telegram:hover,.footer-social .social .telegram:hover
,.footer-social .social .instagram:hover,.footer-social .social .whatsapp:hover
,.footer-social .social .facebook:hover,.footer-social .social .twitter:hover
{
    background: var(--body-color) !important;
    color: var(--black-color) !important;
    transition: 500ms ease-out;
}
.footer-link:hover{
    transform: translateX(-10px);
    transition-duration: 300ms;
}
.footer-row-one-item{
    margin-bottom: 35px;
}
@media (max-width: 992px) {
    .service, .section-header{
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .footer-holder{
        flex-direction: column;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .footer-header{
        height: 40px;
    }
    .footer-item{
        margin-bottom: 3rem;
    }
    .footer-design{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-text-it{
    text-align: justify!important;
    position: static;
    left: 0;
}
.footer-links-it{
    position: static;
    left: 0;
}
.footer-text{
    text-align: justify!important;
    position: static;
    left: 0;
}
.footer-links{
    position: static;
    left: 0;
}
}
/*theme switch*/
body.light{
    background: cornsilk;
    color: var(--text-color);
}
body.light .navbar .dropdown-menu{
    background: cornsilk;
}
body.light .navbar .dropdown-menu .dropdown-item{
    color: var(--text-color) !important;
}
body.light .navbar-toggler{
    background: var(--text-color);
}
body.light .text-white{
    color: var(--text-color)!important;
}
body.light .hero-text{
    color: #ffffe7!important;
}
body.light .bg-black{
    color: var(--text-color);
    background-color: cornsilk!important;
}
body.light .nav-link{
    color: var(--text-color) !important;
    background-color: cornsilk!important;
}
body.light .nav-link:hover{
    color: white!important;
    background-color: rgba(70,69,19,0.35)!important;
}
body.light .tab-holder{
    color: white!important;
    background-color: rgba(70,69,19,0.35)!important;
}
body.light .tab-header.active{
    background-color: rgba(70,69,19,0.35)!important;
}
body.light .navbar-brand img,body.light .footer-item img{
    -webkit-filter: grayscale(1) invert(1) !important;
    filter: grayscale(1) invert(1) !important;
}
body.light .navbar.nav-sticky .nav-link {
    color: var(--text-color) !important;
    background-color: cornsilk!important;
}
body.light .navbar.nav-sticky  {
    box-shadow: 5px 0px 10px var(--text-color);
}
body.light .btn-orange{
    background-color:var(--black-color) ;
    color:cornsilk ;
}

body.light .btn-orange:hover{
    background-color: cornsilk ;
    color:var(--black-color) ;
    outline: var(--text-color) solid 2px!important;
}
body.light .page-section-header a h3{
    color: cornsilk!important;
}
body.light .team-card{
    background-color: #FFFFFF!important;
    box-shadow: 0px 0px 10px 2px var(--text-color);
}
body.light .team-card .team-card-info p{
    color: var(--text-color) !important;
}
body.light .back-img-left,body.light .back-img-right{
    background-color:rgba(0,0,0,0.18);
}
#themeLight,#themeDark{
    margin:10px 20px 8px 20px;
}
@keyframes turn {
     0% {
        transform: rotate(0)
    }
    50% {
        transform: rotate(-30deg)
    }
   80% {
    transform: rotate(+20deg)
    }
    100% {
        transform: rotate(0)
    }
}
#themeLight:hover,#themeDark:hover{
    animation: turn 700ms ease-in-out forwards;
}
