{% load static %}
<footer class="d-flex flex-column" style=";direction: rtl">
	<div class="footer" id="footer" style="direction: rtl">
		<div class="col-12 py-3 py-md-3" style="border-bottom: 1px solid rgba(255,255,255,0.1);">
		<div class="container-fluid mx-auto d-flex flex-column flex-xl-row ltr justify-content-between align-items-start align-content-md-center rtl">
			<div class="d-flex flex-column footer-row-one-item">
				<span class="">Follow Us On Social Media</span>
				<div class="d-flex align-items-center mt-3 w-100">
					<div class="footer-social w-100">
						<div class="social d-flex">
                            <a rel="noreferrer" class="whatsapp" href="" target="_blank"><i class="icon-linkedin2"></i></a>
							<a rel="noreferrer" class="instagram" href="https://www.instagram.com/si_studioingegno/?igshid=YmMyMTA2M2Y%3D" target="_blank"><i class="icon-instagram"></i></a>
                            <a rel="noreferrer" class="facebook" href="" target="_blank"><i class="icon-facebook-square"></i></a>
                        </div>
					</div>
				</div>
			</div>
			<div class="d-flex flex-column footer-row-one-item">
                <div class="text-justify pb-1">
{#                    <i class="icon-map-marker me-2 text-orange"></i>#}
                    <span class="text-orange me-2">
                        Central Office :
                    </span>
                    <span class="">Via Vajont 70, Rivoli (Italy)</span>
                </div>
				<span class="">
{#					<i class="icon-phone text-dark bg-orange me-1"></i>#}
					<span class="text-orange me-2">Tel :</span>
					<span class="">011 4052040 - 334 9403846</span>
				</span>
				<span class="ltr mt-1">
{#					<i class="icon-envelope text-dark px-2 py-1 bg-orange me-1"></i>#}
                    <span class="text-orange me-2">Email :</span>
					<span class="text-white">info@studio-ingegno.it</span>
				</span>
			</div>
			<div class="d-flex flex-column footer-row-one-item">
				<div class="footer-item">
					<div>
                    <div class="section-header"  style="">
                        <span class="text-orange about-span">STUDIO INGEGNO</span>
                        <span class="ms-3" style="font-size: 13px">di Gianluca Gilardi</span>
                    </div>
                    <div class="text-justify pt-1">
{#						<i class="icon-map-marker me-2 text-orange"></i>#}
						<span class="text-orange me-2">
							Legal Office :
						</span>
						<span class="">Via Catalani 19, Collegno(Italy)</span>
					</div>
                    <div class="text-justify pt-1">
						<span class="text-orange me-2">
							P.IVA :
						</span>
						<span class="">11577960013</span>
					</div>
                    <div class="text-justify pt-1">
						<span class="text-orange me-2">
							C.F. :
						</span>
						<span class="">GLRGLC75T17L219I</span>
					</div>
					</div>
				</div>
			</div>
    	</div>
	</div>
		<div class="footer-holder container-fluid" style="direction: ltr">
            <div class="footer-item">
				<img class="img-fluid" src="{% static 'img/LOGO-TRANSPARENT3.webp' %}" alt="studio INGEGNO company logo"  width="240" height="90">
			</div>
			<div class="footer-item">
				<div>
					<div class="text-justify footer-text pt-3">
                        <span class="text-orange">STUDIO INGEGNO DI GIANLUCA GILARDI</span><br><br>
                        Studio Ingegno was founded in 2016 based on the many years of previous experience of its employees.
                        The firm is involved in structural, architectural, thermal, lighting and fire protection design in
                        residential, industrial and public spheres. In addition, it offers land registry, surveying, concept design, design consulting and public performance services.
                        Its purpose is to develop and integrate the specific skills of multidisciplinary professionals in order to
                        achieve customized solutions in the design field.
                    </div>
				</div>
			</div>
			<div class="footer-item footer-links">
				<div class="footer-header section-header">
					<span class="about-span">Links</span>
				</div>
				<div class="d-flex flex-column">
					<a class="mb-1 mt-3 ps-3 text-small footer-link" href="">
						<i class="icon-chevron-right text-orange me-2" style="transform: scale(0.6)"></i>
						<span class="text-white">Home</span>
					</a>

                    <a class="my-1 ps-3 text-small footer-link" href="">
                        <i class="icon-chevron-right text-orange me-2" style="transform: scale(0.6)"></i>
                        <span class="text-white">Team</span>
                    </a>

                    <a class="my-1 ps-3 text-small footer-link" href="">
                        <i class="icon-chevron-right text-orange me-2" style="transform: scale(0.6)"></i>
                        <span class="text-white">Services</span>
                    </a>

                    <a class="my-1 ps-3 text-small footer-link" href="">
                        <i class="icon-chevron-right text-orange me-2" style="transform: scale(0.6)"></i>
                        <span class="text-white">News And Articles</span>
                    </a>

				</div>
			</div>
		</div>
		<!--design section-->
		<div>
			 <div class="container-fluid py-3">
				<div class="footer-design">
                     <span class="text-orange me-1">©2022 </span>
                    Design and Implementation : Farhood Vatanzadeh
                    <a rel="noreferrer" href="https://www.instagram.com/farhoodva/" target="_blank"><i class="icon-instagram mx-3 text-orange"></i></a>
				</div>
				</div>
			 </div>
		</div>
</footer>

{% include 'scripts.html' %}

