{% load static %}
{% load tags %}
<footer class="d-flex flex-column">
	<div class="footer" id="footer">
		<div class="col-12 py-2 py-md-2" style="border-bottom: 1px solid rgba(0,0,0,0.8);">
		<div class="container-fluid mx-auto d-flex flex-column flex-xl-row justify-content-between align-items-start align-content-md-center rtl">
			<div class="d-flex flex-column footer-row-one-item">
				<span class="text-dark">با
					ما
					همراه باشید
				</span>
				<div class="d-flex align-items-center mt-3 w-100">
					<div class="footer-social w-100">
						<div class="social d-flex">
							<a rel="noreferrer" class="facebook" href="https://www.linkedin.com/in/%D8%A8%D8%A7%D8%B1%D8%A7%D9%86-%D8%B3%D8%A7%D8%B2%D9%87-653549259/" target="_blank"><i class="fab fa-linkedin"></i></a>
							<a rel="noreferrer" class="whatsapp" href="https://t.me/Amirnasrolah" target="_blank"><i class="fab fa-whatsapp"></i></a>
							<a rel="noreferrer" class="instagram" href="https://www.instagram.com/bco_construct/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
							<a rel="noreferrer" class="telegram" href="https://t.me/Amirnasrolah" target="_blank"><i class="fab fa-telegram-plane"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="d-flex flex-column footer-row-one-item">
				<span class="text-dark">
					<i class="fa fa-phone-alt py-1 px-2 text-white bg-black ms-1" style="border-radius: 4px"></i>
					{{ '09120407821'|persian_int_not_cs }}
					<span class="me-2 text-shadow-dark">آقای نصرالله </span>
				</span>
				<span class="text-dark rtl mt-1">
					<i class="fa fa-envelope text-white px-2 py-1 bg-black ms-1" style="border-radius: 4px"></i>
					<span class="text-dark">amirn059@gmail.com</span>
				</span>
				<span class="mt-2 text-dark">{{'همه روزه از 8 صبح تا 8 شب آماده پاسخگویی هستیم'|persian_int_not_cs  }} </span>
			</div>
			<div class="d-flex flex-column footer-row-one-item">
				<div class="footer-item">
					<div>
						<div class="rtl text-justify footer-text pt-3">
							<i class="fa fa-map-marker ms-2 text-black" aria-hidden="true"></i>
							<span class="text-black text-shadow-dark"> دفتر مرکزی : </span>
							<span class="text-shadow-dark"> {{ 'خیابان خالد اسلامبولی، خیابان 16 پلاک 2، طبقه 4 واحد 8'|persian_int_not_cs  }}
                            </span>
						</div>
					</div>
				</div>
			</div>
    	</div>
	</div>
		<div class="footer-holder container-fluid">
			<div class="footer-item">
				<div class="footer-header section-header" style="height: 40px">
					<span class="about-span">بازار مرکزی حاتم</span>
{#					<span class="about-span me-4 text-light-color" style="font-size: 13px">بازار مرکزی حاتم</span>#}
				</div>
				<div>
					<div class="rtl footer-text pt-3 text-shadow-dark">

						<span> {{ 'میدان فعلی تره بار مرکزی کرج در سال 1367 به منظور ساماندهی عرضه میوه و تره بار در کرج و حومه در زمین متعلق به شهرداری کرج با مشارکت حجره داران فعلی برای جمعیتی در حدود سیصد هزار نفر در قالب 180 حجره طراحی و اجرا شده است. بدین صورت که 25 درصد از اعیانی حجرات احداثی متعلق به شهرداری کرج و 75 درصد اعیانی حجرات متعلق به حجره داران می باشد.'|persian_int_not_cs }}</span>
                        <br>
						<span> {{ 'با گذشت بیش از دو دهه از راه اندازی پروژه مزبور و افزایش جمعیت کرج و حومه حداقل ده برابر آن زمان حدود سه میلیون نفر، میدان مزبور در حال حاضر پاسخگوی نیاز شهروندان نبوده، به همین دلیل توسعه میدان مزبور و ایجاد میادین موازی همواره مورد تأکید مسئولین استان البرز و کلانشهر کرج بوده است. '|persian_int_not_cs }}</span>
                        <br>
                        <span class="fw-bold" style="cursor: pointer" id="showText">نمایش ادامه..</span>
						<span id="hiddenText" style="display: none">  {{ 'در همین راستا در سال 1392 بنا بر تقاضا و دعوت استاندار وقت و شهردار کلانشهر کرج عملیات احداث پروژه توسعه میدان در قالب«سامانه فروش محصولات کشاورزی» با خریداری زمین به مساحت 23000 مترمربع در ضلع غرب و جنوب میدان فعلی شروع گردید و در طول بیش از 5 سال پیگیری مداوم، مجوزهای قانونی پروژه از مراجع ذیصلاح منجمله اداره کل جهاد کشاورزی، محیط زیست، راه و. شهرسازی، سازمان صمت استان، اداره کل امور زیربنایی استانداری و در نهایت شورای برنامه ریزی استان اخذ و با صدور پروانه توسط شهرداری کرج عملیات ساختمانی آن در سال 1397 شروع گردید.'|persian_int_not_cs }}</span>

					</div>
				</div>
			</div>

			<div class="footer-item">
				<div class="footer-header section-header">
					<span class="about-span">لینک ها</span>
				</div>
				<div class="d-flex flex-column">
					<a class="mb-1 mt-3 pe-3 text-small footer-link" href="{% url 'coreFa:home' %}">
						<i class="fa fa-chevron-left text-black" style="transform: scale(0.8)"></i>
						<span class="text-dark footer-link">صفحه نخست</span>
					</a>

					<a class="my-1 pe-3 text-small footer-link" href="{% url 'coreFa:gallery' %}">
						<i class="fa fa-chevron-left text-black" style="transform: scale(0.8)"></i>
						<span class="text-dark">گالری</span>
					</a>

					<a class="my-1  pe-3 text-small footer-link" href="{% url 'coreFa:article-list-view' %}">
						<i class="fa fa-chevron-left text-black" style="transform: scale(0.8)"></i>
						<span class="text-dark">اخبار و مقالات</span>
					</a>
					<a class="my-1  pe-3 text-small footer-link" href="">
						<i class="fa fa-chevron-left text-black" style="transform: scale(0.8)"></i>
						<span class="text-dark">پلان ها</span>
					</a>
					<a class="my-1  pe-3 text-small footer-link" href="">
						<i class="fa fa-chevron-left text-black" style="transform: scale(0.8)"></i>
						<span class="text-dark">اخبار و مقالات</span>
					</a>
				</div>
			</div>

			<div class="footer-item d-flex flex-column align-items-center">
				<img class="img-fluid" src="{% static 'img/BCO.webp' %}" alt="باران کانستراکشن لوگو" style='filter: drop-shadow(0px 0px 44px #000); max-width: 250px'>
                <h5 class="mt-4">Powered by BCO</h5>

			</div>
		</div>
		<!--design section-->
		<div class="" style="border-top: 1px solid rgba(0,0,0,0.8)">
			 <div class="rtl container py-3">
				<div class="footer-design">
					<span class="d-flex justify-content-xl-start justify-content-lg-start justify-content-center w-100 mb-xl-0 mb-2 text-dark">
						 ©2021 طراحی و پیاده سازی :
						فرهود وطن زاده
					</span>
					<div class="d-flex justify-content-xl-end justify-content-lg-end justify-content-center align-items-center w-100">
						<a rel="noreferrer" href="https://t.me/Farhoodva" target="_blank"><i class="fab fa-telegram-plane mx-3"></i></a>
						<a rel="noreferrer" href="https://www.instagram.com/farhoodva/" target="_blank"><i class="fab fa-instagram mx-3"></i></a>
					</div>
				</div>
			 </div>
		</div>
	</div>
</footer>
{% include 'scripts.html' %}
