{% extends 'base.html' %}
{% load tags %}
{% load static %}
{% load thumbnail %}
{% load jalali_tags %}

{% block content %}
    <style>
    .editorial {
  display: block;
  width: 100%;
  height: 60px;
  max-height: 60px;
  margin: 0;
  z-index:5;
  bottom:0;
  position:absolute;
  left:0px;
  float:left;
}

.parallax1 > use {
  animation: move-forever1 10s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax2 > use {
  animation: move-forever2 8s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax3 > use {
  animation: move-forever3 6s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax4 > use {
  animation: move-forever4 4s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever3 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever4 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

    </style>
    <div style="min-height: 4vh">

    </div>
    <section class="hero position-relative pb-5">
        <div class="container-c">
            <div class="row mt-5 py-1 py-md-5 px1 px-md-5 align-items-center mb-4">
                <div class="col-12 col-lg-6">
                    <img class="hero-img img-fluid" src="{% static 'img/hatam-entrance.webp' %}" alt="بازار مرکزی حاتم">
                </div>
                <div class="col-12 col-lg-6" style="min-height: 100%">
                    <div class="d-flex align-items-center align-items-md-end justify-content-center flex-column" style="min-height: 100%">
                        <h1 class="rtl hero-text my-5">
                            <span class="text-black fw-bold"> بازار مرکزی حاتم</span>
                            دارای مدرن ترین تجهزیات سردخانه ای
                        </h1>
                        <p class="rtl hero-text">
                            بازار مرکزی حاتم بهترین خدمات را در اختیار شما میگذارد.
                        </p>
                        <br><br><br>
                        <div class="justify-content-end flex-column flex-lg-row-reverse align-items-center">
                            <a class="btn btn-black-c" href="{% url 'coreFa:gallery' %}">
                                گالری
                            </a>
                            <a id="showModal" class="btn btn-black-c">
                            تماس با ما
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>

    <section class="position-relative pb-5">
        <div class="container-c">
            <div class="row flex-row-reverse mt-5 py-1 py-md-5 px1 px-md-5 align-items-center mb-4">
            <div class="col-12 col-md-6 ms-0 ms-md-4">
                <img class="hero-img-2 img-fluid" src="{% static 'img/hero-plans.png' %}" alt="بازار مرکزی حاتم">
            </div>
            <div class="col-12 col-md-5">
                <div class="d-flex align-items-center align-items-md-end justify-content-center flex-column">
                    <h1 class="rtl hero-text my-5">
                        <span class="text-black fw-bold"> بازار مرکزی حاتم</span>
                       با پلن های کاملا مهندسی شده
                    </h1>
                    <a class="btn btn-black-c">
                       مشاهده پلن ها
                    </a>
                    </div>
                </div>
            </div>
        </div>
    <svg class="editorial"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink"
     viewBox="0 24 150 28 "
     preserveAspectRatio="none">
 <defs>
 <path id="gentle-wave"
 d="M-160 44c30 0
    58-18 88-18s
    58 18 88 18
    58-18 88-18
    58 18 88 18
    v44h-352z" />
  </defs>
  <g class="parallax1">
   <use xlink:href="#gentle-wave" x="50" y="3" fill="#f5f5f5"/>
  </g>
    <g class="parallax2">
   <use xlink:href="#gentle-wave" x="50" y="0" fill="#000000"/>
    </g>
      <g class="parallax3">
   <use xlink:href="#gentle-wave" x="50" y="9" fill="#f5f5f5"/>
   </g>
    <g class="parallax4">
   <use xlink:href="#gentle-wave" x="50" y="6" fill="#141414"/>
  </g>
</svg>
    </section>

    <div class="d-flex flex-column side-social">
        <a href="https://t.me/Amirnasrolah" target="_blank"><i class="fa fa-telegram"></i></a>
        <a href="https://www.instagram.com/bco_construct/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a>
        <a rel="noreferrer" class="facebook" href="https://www.linkedin.com/in/%D8%A8%D8%A7%D8%B1%D8%A7%D9%86-%D8%B3%D8%A7%D8%B2%D9%87-653549259/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
    <section class="row justify-content-between container-c align-items-center mt-3 mt-md-5 py-3">
        <div class="d-flex flex-column align-items-center justify-content-around">
            <h1 class="mb-3 mb-md-5 py-1 py-md-4 ms-auto">دلایل انتخاب ما</h1>
            <div class="row flex-column flex-md-row justify-content-between align-items-center position-relative mid-sec">
                <div class="col-12 col-md-3">
                    <div class="d-flex flex-column align-items-end justify-content-between bg-white px-2 py-3 card-c">
                        <img class="w-50" src="{% static 'img/shop.svg' %}" alt="">
                        <h4> لورم ایپسوم </h4>
                        <p class="">لورم ایپسوم لورم ایپسوم لورم ایپسوم</p>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="d-flex flex-column align-items-end justify-content-between bg-black px-2 py-3 card-c">
                        <img class="w-50 text-white" src="{% static 'img/basket-white.svg' %}" alt="">
                        <h4> لورم ایپسوم </h4>
                        <p class="">لورم ایپسوم لورم ایپسوم لورم ایپسوم</p>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="d-flex flex-column align-items-end justify-content-between bg-white px-2 py-3 card-c">
                        <img class="w-50" src="{% static 'img/truck.svg' %}" alt="" >
                        <h4> لورم ایپسوم </h4>
                        <p class="">لورم ایپسوم لورم ایپسوم لورم ایپسوم</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr class="container-c mt-4">
 <!-- -news and articles--->
    <section class="py-md-5 news-section rtl">
        <h1 class="mt-3 mt-md-5 py-1 ms-auto container-c">اخبار و مقالات</h1>
        <div class="news-holder container-c py-0 py-md-5">
            {% for news in news %}
                <div class="card d-flex flex-column align-items-start justify-content-between bg-black my-4 pb-3">
                    {% thumbnail news.pic "350x300" crop="center" as im %}
                         <img loading="lazy" class="img-fluid" src="{{ im.url }}" alt="{{ news.title }}-picture of article"
{#                         style="  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */#}
{#                                    filter: grayscale(100%);"#}
                         >
                    {% endthumbnail %}
                    <span class="card-header text-white">{{ news.title }}</span>
                    <span class="small text-white" style="padding-right: 1rem">توسط : {{ news.author }}</span>
                    <small class="text-white" style="padding-right: 1rem">{{ news.created_at|to_jalali|persian_int_not_cs }}</small>
                    <div class="d-flex align-items-baseline justify-content-center justify-content-md-start w-100 pe-2 py-0">
                        <a class="btn btn-light" style="transform: scale(0.8);" href="{{ news.get_article_detail_view }}">ادامه...</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="w-100 d-flex justify-content-center align-items-center">
            <a class="btn btn-black-c" style="box-shadow: rgba(0,0,0,0.3) 0 0 7px 5px!important" href="{% url 'coreFa:article-list-view' %}"> لیست مقالات</a>
        </div>
        <br>
        <br>
    </section>
     <!---news and articles end- -->
{% endblock %}