{% load tags %}
{% load static %}

        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-black navbar-dark">
            <div class="container-c">
                <a class="navbar-brand" href="{% url 'coreFa:home' %}">
                    <img src="{% static 'img/hatam.webp' %}" alt="لوگوی بازار حاتم">
				</a>
				<button id="navbar-toggler-icon" type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon bg-black text-black"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between py-2" id="navbarCollapse">
                    <div class="navbar-nav ms-auto rtl">
                        <a href="{% url 'coreFa:home' %}" class="nav-item nav-link">صفحه نخست</a>

                        <a  class="nav-item nav-link" href="{% url 'coreFa:gallery' %}">گالری</a>
                        <a  class="nav-item nav-link" href="{% url 'coreFa:plans' %}">پلان ها</a>
                        <a  class="nav-item nav-link" href="{% url 'coreFa:our-projects' %}">پروژه های دیگر ما</a>
                        <a  class="nav-item nav-link" href="{% url 'coreFa:article-list-view' %}">اخبار</a>
                        <a href="#footer" class="nav-item nav-link sm-hide">درباره ما</a>

{#                        <div class="btn-group">#}
{#                          <button type="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">#}
{#                            Lingua#}
{#                          </button>#}
{#                          <ul class="dropdown-menu dropdown-menu-lg dropdown_menu-down-out">#}
{#                            <li><a href="{% url 'coreEn:home' %}" class="dropdown-item dropdown-hover" type="button">English</a></li>#}
{#                          </ul>#}
{#                        </div>#}
{#                        <img    data-bs-toggle="tooltip" data-bs-placement="bottom"#}
{#                            data-bs-custom-class="custom-tooltip"#}
{#                            data-bs-title="تم شب"#}
{#                            id="themeLight" class="width-35"#}
{#                            src="{% static 'img/dark-sun.svg' %}" alt="theme-switcher-dark" style="cursor: pointer">#}
{#                        <img   data-bs-toggle="tooltip" data-bs-placement="bottom"#}
{#                            data-bs-title="تم روز"#}
{#                            id="themeDark" class="width-35 d-none" src="{% static 'img/sun.svg' %}" alt="theme-switcher-light" style="cursor: pointer">#}
                    </div>
                </div>
            </div>
            <div class="header">
              <div class="progress-container">
                <div class="progress-bar" id="myBar"></div>
              </div>
            </div>
        </div>
        <!-- Nav Bar End -->

        <!-- contact-us modal -->
		<div id="contactModal" class="modal fade" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body text-center text-small d-flex flex-column align-items-center justify-content-center bg-black">
						<div class="col-12 mb-4">
							<div class="contact-modal d-flex flex-column align-items-center justify-content-center py-2 px-1 mx-auto bg-black">
                                <div class="team-card-info mt-5">
                                    <img class="img" src="{% static 'img/amir-nasr.webp' %}" alt="عکس آقای امیر نصرالله">
                                    <h1 class="text-center my-2">
										<span class="me-2 text-white">آقای نصرالله </span>
									</h1>
									<p class="text-center my-2 w-100">
										<i class="fa fa-phone me-2 text-white fa-2x" style="width: 35px" aria-hidden="true"></i>
										<span class="text-white" style="font-size: 25px">{{ '09120407821'|persian_int_not_cs }}</span>
                                        </br>
									</p>
									<p class="text-center my-2 w-100">
										<i class="fa fa-envelope px-2 py-1 me-2 text-white fa-2x sm-hide" style="width: 35px" aria-hidden="true"></i>
										<span class="text-white" style="font-size: 25px">amirn059@gmail.com</span>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="text-center py-3 bg-orange" >
						<button id="modalClose" type="button" class="btn btn-black-c rounded-pill mx-auto" style="box-shadow: rgba(0,0,0,0.3) 0 0 7px 5px!important" data-bs-dismiss='modal'>بستن</button>
					</div>
				</div>
			</div>
        </div>
